.body {
  background-color: rgba(10, 219, 202, 0.822);
}
div.default {
margin: 20px auto;
box-shadow: 5px 5px 5px black;
border-radius: 15px;
border: solid red;
text-align: justify;
background-color: whitesmoke;
color: orangered;
font-size: 18px;
}
.puerta {
  color: black;
  font-weight: bold;
}
 p {
   color: black;
   text-align: center;
 }
 .couleur {
  color: black;
 }
 img{
 margin-left: auto;
 margin-right: auto;
 }
 #ren {
  color: black;
  font-weight: bold;
  text-align: center;
 }
 a {
   color: black;
 }
a:hover{
  color: purple;
}
.commers{
  font-size: 16px;
}
.container{
  margin: auto;
  justify-content: center;
  width: 800px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
@media screen and (max-width: 850px){
  .default, .container{
  width: 100% !important;
  margin: 0px auto !important;
  }
  .street{
    margin: 2% !important;
    padding: 2% !important;
  }
}
.street{
  border-radius: 10px;
  border: solid 5px gray;
  margin: 25px;
  padding: 25px;
  text-align: center;
  img {
    width: 250px;
  }
  a{
    font-size: smaller;
  }
}
